/*----------------------HDR-----------------------------*/
.wrapper {
  text-align: center;
}

.banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 0;
}

.logo {
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 20%;
  z-index: 1;
}

.HDRtext1,
.HDRtext2 {
  margin: auto;
  margin-top: 8%;
  position: relative;
  z-index: 1;
  color: white;
  font-size: 3em;
}

.HDRtext2 {
  margin-top: 0px;
  font-weight: bold;
}

/*------------Call To----------------------------------*/
.callTo {
  position: relative;
  z-index: 1;
  margin: 13% auto;
  margin-bottom: 5%;
  width: 20%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

.callToImg {
  width: 100%;
}

.callToInput {
  margin: 5%;
  width: 70%;
}

.callToText {
  color: gray;
}

.callToButton {
  border: 0px;
  margin: 5%;
  background-color: #227dd3;
  color: white;
  width: 60%;
  height: 40px;
  font-size: 120%;
  cursor: pointer;
}

.callToButton:hover {
  box-shadow: inset 0px 0px 5px 1px white;
  scale: 1.1;
}

/*-------------------Boxes------------------------------*/

.boxesTable {
  border-spacing: 20px;
  margin: auto;
  width: 50%;
  margin-bottom: 10%;
}

.boxesBigNames {
  margin-top: 0px;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}

.boxCol {
  text-align: left;
}

.boxColImg {
  cursor: pointer;
  width: 1%;
}

/*-------------------Section 1--------------------------*/

.section1 {
  position: relative;
  background-color: #5fc18b;
  width: 100vw;
  margin-left: -50vw;
  margin-top: 100px;
  padding-bottom: 23%;
  left: 49.6%;
}

.sec1Img {
  z-index: 0;
  margin-bottom: -18%;
  margin-left: -15%;
  margin-top: 5%;
}

.sec1Row1,
.sec1Row2,
.sec1Row3 {
  position: relative;
  z-index: 1;
  margin-top: -10%;
}

.sec1Row2Td {
  padding-bottom: 1%;
}

.sec1Text {
  text-align: left;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.2em;
}

.sec1Heading {
  color: white;
}

/*-------------------Section 2--------------------------*/
.section2 {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 25%;
  margin-top: -28%;
}

.sec2Img {
  position: relative;
  z-index: 1;
  width: 100vw;
  margin-left: -50vw;
  left: 25%;
  margin-top: -28%;
}

.sec2Table {
  color: white;
  margin-top: -25%;
  position: relative;
  z-index: 1;
  left: 55%;
  width: 29%;
  text-align: left;
}

.sec2Heading {
  font-size: 3.2em;
}

.sec2Download {
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 5%;
  background-color: #44a36f;
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
  color: white;
  font-size: 2.7em;
  cursor: pointer;
}

.sec2Download:hover {
  box-shadow: 0px 0px 15px white;
}

.section2Background {
  padding-top: 10%;
  width: 124%;
  background-color: #44a36f;
  position: relative;
}
/*---------------------Contact---------------------------*/

.contact {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 49.6%;
  z-index: 2;
  background-image: url("Sprites/Contact/Map.png");
  padding-bottom: 5%;
}

.contactBack {
  width: 100%;
  margin-bottom: -18%;
}

.contactDiv {
  margin: 0 auto;
  margin-top: -20%;
  text-align: center;
  position: relative;
  z-index: 3;
}

.contactInput {
  width: 100%;
  height: 25px;
}

.contactCollums {
  width: 30%;
}

#contactInput3 {
  height: 70px;
}

.contactSubmit {
  border: 0;
  background: transparent;
  cursor: pointer;
  margin-top: 10%;
  scale: 1.4;
}

.contactTable {
  padding: 7.5%;
  padding-left: 3%;
  padding-right: 3%;
  border-collapse: separate;
  border-spacing: 0 15px;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 50%;
  background-color: rgba(238, 238, 238, 0.8);
}

.contactSubmit:hover {
  scale: 1.6;
}

/*-------------Media Queries-------------------------*/
@media (max-width: 1600px) {
  .contactTable {
    padding: 7%;
  }

  .contactCollums {
    width: 50%;
  }

  .contactSubmit {
    scale: 1;
  }

  .contactSubmit:hover {
    scale: 1.1;
  }
}

@media (max-width: 900px) {
  .callToButton {
    font-size: 100%;
  }
}

@media (max-width: 750px) {
  .contactTable {
    padding-left: 15%;
    padding-right: 15%;
  }

  .contactCollums {
    width: 70%;
  }

  .sec1Img {
    margin-left: -50%;
  }
}

@media (max-width: 695px) {
  .HDRtext1,
  .HDRtext2 {
    font-size: 2em;
  }

  .callTo {
    width: 30%;
  }

  .callToButton {
    font-size: 70%;
  }

  .sec2Table {
    margin-top: 0%;
    left: 35%;
    width: 60%;
  }
}
/*---------------------Footer---------------------------*/

footer {
  color: white;
  text-align: center;
  width: 100%;
  z-index: 3;
  position: absolute;
  left: 0%;
  height: 5%;
  background-color: #43a06d;
}

/*---------------------Main-----------------------------*/

body {
  font-family: "Open Sans", sans-serif;
}
